!!! 5
html.no-js
  include views/config
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{app}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
      | build:css(\{.tmp,app}) styles/main.css 
    link(rel='stylesheet', href='bower_components/flat-ui/css/flat-ui.css')
    link(rel='stylesheet', href='styles/main.css')
    //
       endbuild
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    //
       endbuild 
  body
    .container
      .demo-headline
        h1.demo-logo
          include views/blocks/gears/view
          | #{app}
          small Web animations lab gallery for testing and benchmarking animations
      .row(style="padding-bottom: 100px")
        .span6.animations
          ul.thumbnails
            +thumbnail('gears', "Gears", "Two gears rotating. The container is rotated through CSS3 transform and translate option", "/views/blocks/gears/gears.jpg")
            +thumbnail('cwlogo', "CW Logo", "Centralway Logo. Exported from Adobe Illustrator, animated by SVG native Animate Attrs", "/views/blocks/cwlogo/cwlogo.jpg")
            +thumbnail('growingchart', "Growing Chart", "A RaphaelJS growing chart. No chart library was used, intended for scroll binding", "/views/blocks/growingchart/growingchart.jpg")
        .span6
          .viewport
            include views/blocks/gears/view
    footer
      .container
        .row
          .span7
            h3.footer-title 
              +cw
          .span5
            ul.nav.nav-pills.footer-title.pull-right
              li
                a(href='http://www.facebook.com/centralway', target='_blank', class='facebook')
              li
                a(href='http://twitter.com/centralway', target='_blank', class='twitter')                
              li
                a(href='https://plus.google.com/109392403559257694160/posts"', target='_blank', class='gplus')
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    //
      Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    //
      build:js scripts/main.js 
    script(data-main='scripts/main', src='bower_components/requirejs/require.js')
    //
      endbuild 