!!! 5
html.no-js
  include views/config
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{app}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory 
    //
      | build:css(\{.tmp,app}) styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='bower_components/flat-ui/css/flat-ui.css')
    //
       endbuild
    //
      build:js scripts/main.js 
    script(src='bower_components/polymer/polymer.min.js')
    //
      endbuild 
    //
       build:js scripts/vendor/modernizr.js 
    script(src='bower_components/modernizr/modernizr.js')
    //
       endbuild 
    link(rel="import", href="templates/views/blocks/gears.html")
  body
    .container
      .row
        .span6
          h1.demo-logo
            gears
            | #{app}
            small Web animations lab gallery for testing and benchmarking animations
          +cw
        .span6
          .media
            a.pull-left(href='#')
              img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;', src='http://placehold.it/64x64')
            .media-body
              h4.media-heading Media heading
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.


    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    //
      Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
